<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("partials/nav.ejs") %>
        <main>
            <form style="height: calc(2rem + 20px);" id="filters-bar" action="/search_products" method="get">
            </form>
            <script>
               const sort_by_elem = document.getElementById("sort-by"); 
               sort_by_elem.onchange = function () {
                   const win_location = window.location.href; 
                                if (!(win_location.includes("sort_by"))) {
                                   window.location.href += `?sort_by=${sort_by_elem.value}`; 
                                } else {
                                   window.location.href = `/view_products?sort_by=${sort_by_elem.value}`; 
                                }
               }
            </script>
            <section class="product-details-section">

                    <article class="product-card">
                        <img 
                            class="product-image" 
                            src="https://images.macrumors.com/t/9r84bU_ZTOTrUixxwhjHUFsAvD4=/800x0/smart/article-new/2017/09/iphonexdesign.jpg?lossy" 
                            alt="product image"
                        >

                        <h3>
                            <%= `${product.product_name} | ${product.product_model} ${product.cpu} ${product.ram}GB` %>
                        </h3>
                        <span class="price-and-stock">
                        <span class="product-price">$<%= product.price %></span>
                        <span class="in-stock"><%= product.feature_id %> in stock</span>
                        </span>

                    </article>

                    <article class="product-specs-table cols-2">
                        <span>weight:</span> <span><%= product.weight %></span> 
                        <span>dimensions:</span> <span><%= product.dimensions %></span> 
                        <span>OS:</span> <span><%= product.OS %></span> 
                        <span>screensize:</span> <span><%= product.screensize %></span> 
                        <span>resolution:</span> <span><%= product.resolution %></span> 
                        <span>cpu:</span> <span><%= product.cpu %></span> 
                        <span>ram:</span> <span><%= product.ram %></span> 
                        <span>storage:</span> <span><%= product.storage %></span> 
                        <span>battery:</span> <span><%= product.battery %></span> 
                        <span>front camera:</span> <span><%= product.front_camera %></span> 
                    </article>

                    <article class="checkout-article">
                        <a class="checkout-button" href="/checkout?product_id=<%= product.product_id %>">Proceed to Checkout</a>
                    </article>

            </section>
        </main>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
